{{#partial "styles"}}
    <link rel='stylesheet' href='/css/view.css'>
{{/partial}}

{{#partial "content"}}
    <h1>Recorded Sightings</h1>
    <br>
    <br>
    {{#each animals }}
        <p>Animal Name : {{name}}</p>
            <p>Animal Age : {{age}}</p>
            <p>Animal Health : {{health}}</p>
            <p>Animal Species : {{type}}</p>
        {{/each}}
    {{#each sightings }}
    <p>Ranger's Name : </p>
    <p>Location : {{location}}</p>
    <p>Time of sighting : {{timestamp}}</p>
    {{/each}}
{{/partial}}
{{>layout.hbs}}